.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: solid salmon;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 0;
}
.header-nav li {
    list-style: none;
    margin: 0 10px;
}
.header-nav li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
}
.header-nav li a:hover {
    background-color: #f0f0f0;
    color: #000;
}
.header-nav li a.active {
    background-color: #007bff;
    color: #fff;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    .header {
        color: #f0f0f0; /* Dark mode text color */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Dark mode shadow */
    }

    .header-title {
        color: #f0f0f0; /* Dark mode text color */
    }

    .header-nav li a {
        color: #f0f0f0; /* Dark mode link color */
        background-color: transparent; /* Transparent background for dark mode */
    }

    .header-nav li a:hover {
        background-color: #333; /* Dark mode hover background */
        color: #fff; /* Dark mode hover text color */
    }

    .header-nav li a.active {
        background-color: #007bff; /* Dark mode active background */
        color: #fff; /* Dark mode active text color */
    }
}